{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый маршрут</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/avatar_curc.jpeg' %}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Подключение стилей OpenLayers -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.4.0/ol.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header-container">
                <div class="logo-title">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/avatar_curc.jpeg' %}" alt="Логотип сайта" class="logo">
                    </a>
                    <h1>Речной маршрут</h1>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'forum' %}">Форум</a></li>
                        <li><a href="{% url 'report' %}">Отчеты</a></li>
                        <li><a href="{% url 'favourites' %}">Избранное</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' user.username %}">Профиль</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Вход</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
            <section id="maps-section" class="content">
                <h2>Маршруты</h2>
                <div class="button-container">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="button">Добавить GPX-трекер</button>
                    </form>
                </div>
            </section>

        </div>
    </div>
    <!-- Подключение JavaScript библиотеки OpenLayers -->
</body>

</html>
