{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Речной маршрут</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/avatar_curc.jpeg' %}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header-container">
                <div class="logo-title">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/avatar_curc.jpeg' %}" alt="Логотип сайта" class="logo">
                    </a>
                    <h1>Речной маршрут</h1>
                </div>
                <nav>
                    <ul class="menu">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'forum' %}">Форум</a></li>
                        <li><a href="{% url 'report' %}">Отчеты</a></li>
                        <li><a href="{% url 'favourites' %}">Избранное</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' user.username %}">Профиль</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Вход</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <section id="add-report" class="content">
            <h2>Добавить отчет</h2>
            <form action="submit_report.html" method="post">
                <label for="title">Название отчета:</label>
                <input type="text" id="title" name="title" required>

                <label for="river">Река:</label>
                <input type="text" id="river" name="river" required>

                <label for="route">Маршрут:</label>
                <input type="text" id="route" name="route" required>

                <label for="date_of_trip">Дата прохождения:</label>
                <input type="date" id="date_of_trip" name="date_of_trip" required>

                <label for="content">Контент отчета:</label>
                <textarea id="content" name="content" required></textarea>

                <button type="submit">Добавить отчет</button>
            </form>
        </section>
    </div>
    <footer>
        <h3>Информация:</h3>
        <div class="footer-main">
            <div id="footer-links" class="footer-links-1">
                <a href="#">О проекте</a>
                <a href="#">Помощь</a>
                <a href="#">Политика конфиденциальности</a>
            </div>
            <div id="footer-links" class="footer-links-2">
                <a href="#">Поддержка</a>
                <a href="#">Реклама и интеграции</a>
                <a href="#">Партнерство</a>
            </div>
            <div class="subscribe">
                <span>Контакты:</span>
                <a href="https://t.me/yourtelegram" class="social-icon telegram-icon">
                    <i class='bx bxl-telegram'></i>
                </a>
                <a href="https://github.com/BaranovSerV" class="social-icon github-icon">
                    <i class='bx bxl-github'></i>
                </a>
            </div>
        </div>
        <hr class="footer-line">
        <p>&copy; 2024 Речной маршрут. Все права защищены.</p>
    </footer>
</body>

</html>